<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Błąd logowania</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bad_password.css}"/>
    <script th:src="@{/js/bad_password.js}"></script>
</head>
<body>

<h1 id = 'header' th:span th:text="'Niestety nie udało Ci się zalogować na swoje konto powiązane z mailem ' + ${userLogin.emailAddress} +
' Sprawdz poprawnosc wprowadzonego hasła'"></h1>

<button id='myButton'>PRZEJDŹ DO STRONY GŁÓWNEJ</button>

</body>
</html>
