<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Error</title>
    <style>
        html,body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        body {
            width: 100%;
            height: 100%;
            background-image: url('https://ak9.picdn.net/shutterstock/videos/9992213/thumb/1.jpg?i10c=img.resize(height:160)');
            background-size: cover;
        }

    </style>
</head>
<body>
<h1 style="color: red; text-align: center">Przy wysłaniu emaila pojawił się błąd</h1>
<div class="row">
    <a th:href="@{/log}" style="color: darkred; text-align: center">Powrót do strony użytkownika</a>
</div>
</body>
</html>
