<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Strona główna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .sticky {
            position: sticky;
            top: 0;
            width: 100%;
        }
        
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}"/>
</head>

<body>
<div id="header">
    <h1 id='h1_header'><span>APLIKACJA DO ZARZĄDZANIA LISTĄ ZAKUPÓW</span></h1>
</div>

<div id="container">
    <div id="content">
        <div class="featured">
            <img id="image" th:src="@{/images/shopping2.png}"/>
            <h3 style="text-align: center">KRÓTKI OPIS APLIKACJI</h3>
            <p style="justify-content: center"> Aplikacja pozwala na symulację rejestracji oraz logowania do systemu
                zarządzania listą zakupów. Prezentowane są również szczegółowe statystyki dla zalogowanego użytkownika
                oraz statystyki ogólne
                dla zarejstrowanych</p>
            <hr>

            <a href="https://github.com/CoderNoOne" id="link"
               style="text-align: center; margin-left:20% ; font-size: 200%">Link do kodu
                źródłowego na
                githubie</a>

        </div>

        <div class="list">
            <h2 class="articletitle" style="text-align: center"> 3 PROSTE ZASADY ROBIENIA ZAKUPÓW</h2>
            <hr>
            <ul>
                <li><p class='article_header'>1. Po pierwsze, właściwa organizacja</p></li>
                <p style="text-align: justify">Właściwa organizacja to gwarancja udanych i rozsądnych zakupów.
                    Warto opracować własną metodę robienia zakupów, dzięki której za każdym razem będziemy
                    w stanie spokojnie i bez stresu kupić potrzebne produkty. Od czego zacząć?
                    Lista zawierająca spis wszystkich potrzeb ułatwi nam robienie zakupów.
                    Jeśli będziemy się jej trzymać, nie wrócimy do domu z niepotrzebnymi produktami.</p>
                <hr>
                <li><p class='article_header'>2. Po drugie, dużo cierpliwości</p></li>
                <p style="text-align: justify">Jeśli chcemy robić rozsądne zakupy, musimy uzbroić się w cierpliwość.
                    Wbrew pozorom szybkie
                    zakupy wcale nie są najkorzystniejsze dla portfela. Kiedy brakuje nam czasu, stajemy się
                    poirytowani i tracimy racjonalne podejście. Pod wpływem impulsu wkładamy do koszyka kolejne
                    produkty,
                    a w pośpiechu nie dostrzegamy korzystniejszych ofert. Wkrótce okazuje się, że z szybkich zakupów
                    wracamy
                    z rzeczami, których wcale nie potrzebujemy i z rachunkiem wyższym, niż zakładaliśmy</p>
                <hr>
                <li><p class='article_header'>3. Po trzecie, zwróć uwagę, co znajduje się na niższych półkach </p></li>
                <p style="text-align: justify">Producenci i handlowcy chcą, abyśmy na zakupach wydali jak najwięcej.
                    Pomagają
                    im w tym marketingowcy, właśnie dlatego w sklepach regularnie pojawiają się promocje.
                    Niższe ceny kuszą, ale zanim coś kupimy, zastanówmy się, czy rzeczywiście tego potrzebujemy.
                    Jeśli atrakcyjna oferta dotyczy produktów, które regularnie kupujemy lub rzeczy,
                    które planowaliśmy nabyć, warto z niej skorzystać. Często jednak ulegamy magii promocyjnych
                    cen, kupując zbędne produkty.</p>
            </ul>
        </div>
        <h2 th:align="center">ŻYCZYMY WSZYSTKIM UDANYCH ZAKUPÓW!</h2>
    </div>
    <hr>
    <div>
        <div style="float: left; width: 35% ;margin-left: 15%"><p class='form_header' style="margin-left: 30%">PANEL
            REJESTRACYJNY</p>
            <br><br>
            <button class="button" onclick="showRegisterForm()">Pokaż panel rejestracyjny</button>
            <button class="button" onclick="closeRegisterForm()">Ukryj panel rejestracyjny</button>
            <div id="registerForm" style="display: none">
                <p id="form_register_instruction_text" class='form_instruction' style="margin-left: 20%">Wpisz
                    odpowiednie dane do rejestracji</p>
                <form style="float: left; width: 35% ;margin-left: 30%" action="saved.html" th:method="post"
                      th:action="@{/save}" th:object="${userRegister}">
                    <input type="text" th:field="*{firstName}" placeholder="Imię 2-25 znakow"/><br/>
                    <input type="text" th:field="*{lastName}" placeholder="Nazwisko 2-25 znakow"/><br/>
                    <input type="email" th:field="*{emailAddress}"
                           placeholder="Adres email tylko gmail 5-30 znakow"/><br/>
                    <input type="password" th:field="*{password}" placeholder="Hasło min 5 znaków"/><br/>
                    <input class="button" style="text-align: center ; margin-left: 7.5% ; margin-top: 5%" type="submit"
                           value="Zarejestruj się"/></form>
            </div>
            <br>

        </div>
        <div style="float: right; width: 35%; margin-right: 10%"><p class="form_header" style="margin-left: 25%">PANEL
            LOGOWANIA</p>
            <br><br>
            <button class="button" onclick="showLoginForm()">Pokaż panel logowania</button>
            <button class="button" onclick="closeLoginForm()">Ukryj panel logowania</button>
            <div id="loginForm" style="display: none">
                <p id="form_login_instruction_text" class='form_instruction' style="margin-left: 20%">Wpisz wymagane
                    dane do logowania</p>

                <form style="margin-left: 25%; margin-top: 10%" action="logged.html" th:method="post"
                      th:action="@{/log}"
                      th:object="${userLogin}">
                    <input type="email" th:field="*{emailAddress}" placeholder="Adres email"/><br/>
                    <input type="password" th:field="*{password}" placeholder="Hasło"/><br/>
                    <input class="button" style="text-align: center; margin-left: 10% ; margin-top: 6%" type="submit"
                           value="Zaloguj się"/></form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/home.js}"></script>
</body>
</html>
