<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/UserNotFound.css}"/>
    <title>Błąd logowania</title>
</head>

<h1 style="color: #f8f8f8; text-align: center">
    <span>Niestety w bazie nie ma takiego użytkownika</span>
</h1>
<a style="color: blanchedalmond" href="/home">Powrót do strony głownej</a>
<div class='outer-scratch'>
    <div class="inner-scratch">
        <div class="background grain"></div>
        <div class="row">

        </div>
    </div>
</div>






</body>
</html>
